@import "variable";

.hamburger-button {
  @media screen and (min-width: $screen-tablet-min) {
    display: none;
  }

  @media screen and (max-width: $screen-phone-landscape-max) {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 20px;
  }
}

.main-nav {
  ul {
    list-style-type: none;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 25px;
  }

  @media screen and (min-width: $screen-tablet-min) {
    float: right;
    margin-right: 25px;

    a:hover {
      font-size: 30px;
    }
  }

  @media screen and (max-width: $screen-phone-max) {}
}
